* {
  padding: 0;
}

.playList1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.close {
  position: absolute;
  top: -0.2%;
  left: 1%;
  cursor: pointer;
  font-weight: bold;
  font-size: 4vh;
}

.playlist {
  position: absolute;
  top: 73px;
  width: 100%;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.9);
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;

  p {
    display: inline-block;
    margin: 5px 0;
    font-weight: bold;
    font-size: 2.3vh;
  }

  .react-player {
    display: block;
    margin: 5px auto 25px auto;
  }
}
