body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #02590F;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  box-sizing: border-box;
}


.todo{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.item1{
  grid-column: 1/3;
  font-size: 2rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #eae4e8;
  margin-top: 2rem;

}

.Dez{
  background: #eae4e8;
  text-align: center;
  font-size: 50px;
  font-family: 'Indie Flower', cursive;
 
}

.logo{
  float: left;
  height: 50px;
  margin-top: 10px;

}

.Test{
  display: grid;
  grid-template-columns: 35% 2fr 35%;

}



.box{
  background-color: #0d0d0d;
  height: 5rem;
  width: 1.5rem;
  position: relative;
  grid-column: 2;
  grid-row: 1;
  animation: bouncebox 3s infinite;
}

@keyframes bouncebox{
  0%{top: 0px;}
  25%{top:15px;}
  50%{top: 30px;}
  75%{top: 15px;}
  100%{top: 0px;}
}

.box1{
  background-color: #0d0d0d;
  height: 5rem;
  width: 1.5rem;
  position: relative;
  grid-column: 2;
  grid-row: 1;
  left: 30px;
  animation: bouncebox1 3s infinite;
  animation-delay: 3s;

}
@keyframes bouncebox1{
  0%{top: 0px;}
  25%{top: -15px;}
  50%{top: -30px;}
  75%{top:-15px;}
  100%{top: 0px;}
}

.box2{
  background-color: #0d0d0d;
  height: 5rem;
  width: 1.5rem;
  position: relative;
  grid-column: 2;
  grid-row: 1;
  left: 60px;
  animation: bouncebox2 3s infinite;
  animation-delay: 5s;
}

@keyframes bouncebox2{
  0%{top: 0px;}
  25%{top: 15px;}
  50%{top: 30px;}
  75%{top: 15px;}
  100%{top: 0px;}
}


.box3{
  background-color: #0d0d0d;
  height: 5rem;
  width: 1.5rem;
  position: relative;
  grid-column: 2;
  grid-row: 1;
  left: 90px;
  animation: bouncebox3 3s infinite;
  animation-delay: 7s;
}

@keyframes bouncebox3{
  0%{top: 0px;}
  25%{top: -15px;}
  50%{top: -30px;}
  75%{top: -15px;}
  100%{top: 0px;}
}